<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Editando propuesta</a>
        </div>
        <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right" style="padding-top: 8px;">
                <div class="btn-group">
                    <button class="btn btn-default" ng-click="onCancelarPropuesta()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default" ng-click="onEdicionTerminadaPropuesta()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </div>
            </ul>
        </div>
    </div>
</nav>

<form novalidate class="form-group">
    <label for="titulo">Titulo</label>
    <input type="text" ng-model="$parent.propuesta.titulo" id="titulo" class="form-control" /><br />
    <label for="cuerpo">Cuerpo</label>
    <textarea rows="5" ng-model="$parent.propuesta.cuerpo" id="cuerpo" class="form-control"></textarea>
</form>

<label for="etiquetas">Etiquetas</label>
<tags-input ng-model="$parent.propuesta.etiquetas"
            display-property="name"
            placeholder="Agrega una etiqueta"
            replace-spaces-with-dashes="false"
            template="tag-template"
            id="etiquetas">
    <auto-complete source="getEtiquetas($query)"
                   min-length="1"
                   load-on-focus="true"
                   load-on-empty="false"
                   max-results-to-show="32"
                   template="autocomplete-template"></auto-complete>
</tags-input>

<script type="text/ng-template" id="tag-template">
    <div class="tag-template">
        <div class="left-panel">
            <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        </div>
        <div class="right-panel">
            <span>{{$getDisplayText()}}</span>
            <a class="remove-button" ng-click="$removeTag()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</script>

<script type="text/ng-template" id="autocomplete-template">
    <div class="autocomplete-template">
        <div class="left-panel">
            <!--<img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" />-->
        </div>
        <div class="right-panel">
            <span ng-bind-html="$highlight($getDisplayText())"></span>
        </div>
    </div>
</script>