<div class="panel panel-default navpanel">
    <div class="panel-heading" >
        <p class="panel-title">Propuestas</p>
        <ul class="btn-group pull-right">
            <button type="button" class="btn btn-default"
                    ng-click="onNuevaPropuesta()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva propuesta
            </button>
        </ul>
    </div>
    <div class="panel-body">

        <table class="table table-hover">
            <tr ng-repeat="propuesta in equipo.propuestas" style="text-align: center; ">
                <td>{{propuesta.titulo}}</td>
                <td style="width: 200px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs"
                                ng-click="eliminarPropuesta(propuesta)">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Eliminar
                        </button>
                        <button type="button" class="btn btn-default btn-xs"
                                ng-click="editarPropuesta(propuesta)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                        </button>
                        <button type="button" class="btn btn-default btn-xs"
                                ng-click="verPropuesta(propuesta)">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Ver
                        </button>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>